body
{
    width: 600px;
    height: 1000px;
}

.slider {
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.btn
{
    background-color: aqua;
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    padding: 15px, 32px;
    text-align: center;
    font-size: 30px;
}

.container-form
{
    text-align: center;
    width: 60%;
    margin: 10px auto;
    color: #fff;
    font-size: 50px;
    border: black, 2px;
}

.container-form input
{
    width: 250px;
    height: 550px;
    font-size: 20px;
}

textarea
{
    resize: none;
}

.home
{
    
}

.symptoms
{

}

.entry
{
    
}

.profile
{

}

.milestones
{

}

.line-graph
{
    
}